.partners{
    background: #EBD96B;
    padding: 40px 0;
    margin-bottom: 60px;
}
.partners .container{
    max-width: 80%;
}

.partners-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;
}
.partners-ul li a img{
    width: 80%;
    transition: all ease-out .2s;
    mix-blend-mode: multiply; /* mix-blend-mode - свойство определяющее режим смешивания цветов выбранного элемента с низлежащими слоями */
}
.partners-ul li a img:hover{
    transform: translateY(-7px);
}